In [2]:
# Instalación de paquetes necesarios (descomentar de ser necesario)

# !pip install numpy -q
# !pip install pandas -q
# !pip install matplotlib -q
# !pip install seaborn -q
# !pip install scikit-learn -q
# !pip install joblib -q

# imports

import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D # for 3D plots

import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler

In [9]:
# Cargar el dataset
df_m = pd.read_excel('Mortalidad_infantil.xlsx')

# Visualizar las primeras filas
print("Primeras filas del dataset:")
display(df_m.head())

Primeras filas del dataset:

   ANIO       LOCALIDAD  N_MUERTES  NACIDOS_VIVOS  TASA POR 1000
0  2020  Antonio Nariño          8            995            8.0
1  2020  Barrios Unidos         13           1276           10.2
2  2020            Bosa         65           8508            7.6
3  2020       Chapinero         12           1422            8.4
4  2020  Ciudad Bolívar         88           8731           10.1

In [ ]:
print(df_m["LOCALIDAD"].unique())
print(df_m["LOCALIDAD"].unique().count())

['Antonio Nariño' 'Barrios Unidos' 'Bosa' 'Chapinero' 'Ciudad Bolívar'
 'Distrito' 'Engativá' 'Fontibón' 'Kennedy' 'La Candelaria' 'Los Mártires'
 'Puente Aranda' 'Rafael Uribe Uribe' 'San Cristóbal' 'Santa Fe'
 'Sin Información' 'Suba' 'Sumapaz' 'Teusaquillo' 'Tunjuelito' 'Usaquén'
 'Usme']

In [ ]:
# Cargar el dataset
df_pm = pd.read_excel('PM2.5.xlsx')

# Visualizar las primeras filas
print("Primeras filas del dataset:")
display(df_pm.head())

Primeras filas del dataset:

  Estacion  Fecha inicial  PM2.5
0   "USME"           2024  13.66
1   "USME"           2023  11.97
2   "USME"           2022  13.89
3   "USME"           2021  11.04
4   "USME"           2020  16.35

In [ ]:
promedios = {}
promedios["SUBA"] = ["SUB", "COL", "GYR"]
promedios["USAQUEN"]=   ["USQ"]
promedios["ENGATIVA"] =["BOL", "LFR"]
promedios["BARRIOS UNIDOS"] = ["CDAR"]
promedios["CHAPINERO"] = ["MOV", "MAM"]
promedios["TEUSAQUILLO"] = ["CDAR", "MOV", "MAM", "PTE"]
promedios["BOSA"] = ["BOS"]
promedios["KENNEDY"] = ["KEN", "CSE"]
promedios["PUENTE ARANDA"] = ["JAZ", "PTE"]
promedios["MARTIRES"] = ["JAZ", "SCR", "MAM"]
promedios["SANTA FE"] = ["MAM", "SCR"]
promedios["CANDELARIA"] = ["MAM", "SCR"]
promedios["CIUDAD BOLIVAR"] = ["CBV"]
promedios["TUNJUELITO"] = ["TUN", "CSE"]
promedios["ANTONIO NARIÑO"] = ["TUN", "SCR", "JAZ"]
promedios["RAFAEL URIBE"] = ["TUN", "SCR", "USN"]
promedios["SAN CRISTOBAL"] = ["SCR"]
promedios["USME"] = ["USM"]
promedios["FONTIBON"] = ["FTB", "MOV2"]